<div class="bg-component">
    <div class="form">
        <mat-card class = "card">
        <mat-card-title>Register Assignment</mat-card-title>
            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <input
                        [(ngModel)]= "registerData.className"
                        matInput
                        placeholder="Assignment name (e.g Biology)"
                        required
                        
                        />
                    </mat-form-field>
                    
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="registerAssignment()" 
                class="button colorButton"
                mat-raised-button
                >
                    Register
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>